<template>
  <div class="dialog" v-if="show">
    <div class="mask" @click="close"></div>
    <div class="code-box">
      <p class="code-tips">请长按并前往小程序查看</p>
      <div>
        <img :src="img" class="code-img" width="300" height="300">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ODialog',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    img: {
      type: String,
      default: ''
    }
  },
  methods: {
    close () {
      this.$emit('close', false)
    }
  }
}
</script>

<style lang="less" scoped>
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .code-box {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      .code-tips {
        padding-bottom: 10px;
        font-size: 10px;
        color: #fff;
        text-align: center;
      }
      .code-img {
        background: #fff;
        -webkit-touch-callout: none;
      }
    }
  }
</style>
