<template>
  <div class="home" v-wechat-title="title">
    <loading v-if="loadingShow"></loading>
    <div v-for="(list, index) in showList" :key="'list' + index"
    :style="{marginBottom: list.type === 'form' ? '41px' : ''}">
      <!-- img box start -->
      <div class="img-box" v-if="list.type === 'image'">
        <img :src="list.url" :alt="'#pic_' + list.id" :usemap="'#pic_' + list.id"
             style="width: 100%;"/>
        <map :name="'#pic_' + list.id" :id="'#pic_' + list.id">
          <area
            v-for="(hot, index) in list.hotData" :key="'hot' + index"
            shape="rect"
            :coords="hot.coords"
            :alt="'#pic_' + list.id + '_' + index"
            @click.prevent.stop="gotoMini(hot)"/>
        </map>
      </div>
      <!-- img box end -->
      <!-- video box start -->
      <div class="video-box" v-if="list.type === 'video'">
        <video-player class="video"
                      ref="videoPlayer"
                      :id="'video_' + list.id"
                      :options="list.playerOptions"
                      :playsinline="true"
                      @play="onPlayerPlay($event)"
                      @pause="onPlayerPause($event)"
        ></video-player>
      </div>
      <!-- video box end -->
      <!-- form box start -->
      <div class="form-box weui-cells" v-if="list.type === 'form'" :style="{backgroundColor: formAttr.backgroundColor}">
        <div class="form-item" :class="{
          'tip-text-box': f.type === 'tally' || f.type === 'signup' || f.type === 'call',
          'tip-call-box': f.type === 'call',
          'button-item': f.type === 'button',
          'text-item': f.type === 'text'
        }" v-for="(f, index) in list.form.formItem" :key="'f' + index">
          <group class="group">
            <!--input-->
            <x-input
              v-if="f.type === 'input'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              :type="f.name.indexOf('手机号') !== -1 ? 'tel' : f.name.indexOf('邮箱') !== -1 ? 'email' : 'text'"
              :placeholder="f.options.placeholder"
              placeholder-align="right"></x-input>
            <!--name-->
            <x-input
              v-if="f.type === 'name'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              type="text"
              :placeholder="f.options.placeholder"
              placeholder-align="right"></x-input>
            <!--phone-->
            <x-input
              v-if="f.type === 'phone'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              type="tel"
              :placeholder="f.options.placeholder"
              placeholder-align="right"></x-input>
            <!--card-->
            <x-input
              v-if="f.type === 'card'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              type="text"
              :placeholder="f.options.placeholder"
              placeholder-align="right"></x-input>
            <!--email-->
            <x-input
              v-if="f.type === 'email'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              type="email"
              :placeholder="f.options.placeholder"
              placeholder-align="right"></x-input>
            <!--textarea-->
            <x-textarea
              v-if="f.type === 'textarea'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              :placeholder="f.options.placeholder"
              novalidate></x-textarea>
            <!--select-->
            <popup-picker
              v-if="f.type === 'select'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              :data="f.options.options"
              :columns="1"
              show-name
              :placeholder="f.options.placeholder"></popup-picker>
            <!--radio-->
            <checklist
              class="check"
              v-if="f.type === 'radio'"
              :max="1"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              :label-position="'left'"
              :options="f.options.options"></checklist>
            <!--checkbox-->
            <checklist
              class="check"
              v-if="f.type === 'checkbox'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              :label-position="'left'"
              :options="f.options.options"></checklist>
            <!--date-->
            <datetime
              v-if="f.type === 'date'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              :placeholder="f.options.placeholder"
            ></datetime>
            <!--time-->
            <datetime
              v-if="f.type === 'time'"
              v-model="formData[f.type + '_' + f.key]"
              format="HH:mm"
              :title="f.name"
              :placeholder="f.options.placeholder"
            ></datetime>
            <!--text-->
            <p
              v-if="f.type === 'text'"
              class="form-text"
              :style="{color: f.options.style.color, fontSize: f.options.style.fontSize + 'px'}"
            >{{ f.options.defaultValue }}</p>
            <!--switch-->
            <x-switch
              v-if="f.type === 'switch'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"></x-switch>
            <!--rate-->
            <cell
              v-if="f.type === 'rate'"
              :title="f.name">
              <rater v-model="formData[f.type + '_' + f.key]"></rater>
            </cell>
            <!--button-->
            <x-button
              v-if="f.type === 'button'"
              @click.native="submitHandle"
              :style="{color: f.options.style.color, backgroundColor: f.options.style.backgroundColor}"
              type="primary">{{ f.options.defaultValue }}</x-button>
            <!--call-->
            <a
              v-if="f.type === 'call'"
              class="weui-btn weui-btn_primary"
              :href="'tel:' + f.options.phone"
              :style="{color: f.options.style.color, backgroundColor: f.options.style.backgroundColor}">{{ f.options.defaultValue }}</a>
            <!--cascader-->
            <popup-picker
              v-if="f.type === 'cascader'"
              v-model="formData[f.type + '_' + f.key]"
              :title="f.name"
              :data="f.options.options"
              :columns="f.options.defaultValue"
              show-name></popup-picker>
          </group>
          <!--tally-->
          <p
            v-if="f.type === 'tally'"
            class="tip-text"
          >最近 {{ f.value }} 人{{ getLabel(tallyData, f.options.calculateType) }}！</p>
          <!--signup-->
          <p
            v-if="f.type === 'signup'"
            class="tip-text"
          >用户 {{ f.value }} {{ getLabel(signupData, f.options.showType) }}！</p>
        </div>
      </div>
      <!-- form box end -->
    </div>
    <!-- copyright -->
    <footer class="copyright" v-if="copyright">&copy;{{ copyright }}</footer>
    <!--  弹出层  -->
    <o-dialog :show="dialogShow" :img="qrCode" @close="closeDialog"></o-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import Loading from '@/components/loading'
import ODialog from '@/components/o-dialog'
import wxshare from '@/plugins/wxshare'
export default {
  name: 'home',
  data () {
    return {
      loadingShow: true,
      dialogShow: false,
      qrCode: null,
      copyright: '',
      showList: [],
      tallyData: [
        { value: '5', label: '提交成功' },
        { value: '4', label: '报名成功' },
        { value: '3', label: '领取优惠' },
        { value: '2', label: '参与活动' },
        { value: '1', label: '预约成功' }
      ],
      signupData: [
        { value: '5', label: '已提交' },
        { value: '4', label: '已报名' },
        { value: '3', label: '已领取' },
        { value: '2', label: '已参加' },
        { value: '1', label: '已预约' }
      ],
      formData: {},
      formParam: {
        formId: '',
        formVersion: '',
        formData: {}
      },
      formAttr: {
        backgroundColor: '#fff'
      },
      submitText: '',
      validParam: [],
      title: '',
      timer: null
    }
  },
  components: {
    Loading,
    ODialog
  },
  mounted () {
    this.$nextTick(() => {
      let projectId = this.$route.params.projectId
      let type = this.$route.params.type
      this.queryList(projectId, type)
      // 监听浏览器回退事件的方法
      window.addEventListener('popstate', (e) => {
        window.location.reload()
      }, false)

      this.timer = null
      clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.autoPlayVideo()
      }, 500)
    })
    // if (typeof WeixinJSBridge === 'undefined') {
    //   document.addEventListener('WeixinJSBridgeReady', () => {
    //     this.timer = null
    //     clearTimeout(this.timer)
    //     this.timer = setTimeout(() => {
    //       if (this.$refs.videoPlayer) {
    //         this.$refs.videoPlayer[0].player.play()
    //       }
    //     }, 500)
    //   }, false)
    // }
  },
  methods: {
    // 视频播放
    onPlayerPlay (player) {
      player.play()
    },
    // 暂停播放
    onPlayerPause (player) {
      player.pause()
    },
    autoPlayVideo () {
      let that = this
      function videoInBrowserHandler () {
        that.videoPlay()
        document.body.removeEventListener('touchstart', videoInBrowserHandler)
      }
      document.body.addEventListener('touchstart', videoInBrowserHandler)
      /* 自动播放视频效果，解决微信自动播放问题 */
      function videoInWeixinHandler () {
        that.videoPlay()
        if (typeof WeixinJSBridge === 'undefined') {
          document.addEventListener('WeixinJSBridgeReady', function () {
            that.videoPlay()
          }, false)
          document.removeEventListener('DOMContentLoaded', videoInWeixinHandler)
        } else {
          that.videoPlay()
        }
      }
      if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', videoInWeixinHandler)
      } else {
        videoInWeixinHandler()
      }
    },
    videoPlay () {
      if (this.$refs.videoPlayer) {
        let media = this.$refs.videoPlayer[0].player
        media.play()
      }
    },
    // 查询数据
    queryList (id, type) {
      let params = {
        url: this.$api.query.url + '/' + id + '/' + type,
        method: 'get'
      }
      this.$ajax(params).then(
        res => {
          if (res.code === 0) {
            // 渲染页面数据
            let myProm = new Promise((resolve, reject) => {
              res.data.forEach(item => {
                // 图片
                if (item.type === 'image') {
                  if (item.hotData) {
                    item.hotData.forEach(hot => {
                      hot.coords = this.resizeHot(hot.hotX, hot.hotY, hot.hotW, hot.hotH)
                    })
                  }
                }
                // 视频video
                if (item.type === 'video') {
                  item.playerOptions = {
                    muted: false,
                    autoplay: false,
                    language: 'zh-CN',
                    fluid: true,
                    preload: 'auto',
                    aspectRation: '16:9',
                    // playbackRates: [0.7, 1.0, 1.5, 2.0],
                    sources: [{
                      type: 'video/mp4',
                      src: item.url
                    }],
                    poster: item.url + '?vframe/jpg/offset/0',
                    width: document.documentElement.clientWidth,
                    controlBar: {timeDivider: true,
                      durationDisplay: true,
                      remainingTimeDisplay: true,
                      fullscreenToggle: true
                    }
                  }
                  // 获取视频高度
                  this.getVideoInfo(item.url).then(
                    height => {
                      let video = document.getElementById('video_' + item.id).querySelector('.vjs-fluid')
                      let pt = (height / item.playerOptions.width) * 100
                      video.style.paddingTop = pt + '%'
                    }
                  )
                }
                // 表单
                if (item.type === 'form') {
                  this.formParam.formId = item.form.formId
                  this.formParam.formVersion = item.form.formVersion
                  this.formAttr = item.form.formAttr
                  let forms = item.form.formItem
                  forms.forEach(f => {
                    // 动态设置绑定值
                    Vue.set(this.formData, `${f.type}_${f.key}`, '')

                    if (f.type === 'input' || f.type === 'name' || f.type === 'phone' || f.type === 'card' || f.type === 'email') {
                      let obj = {
                        key: `${f.type}_${f.key}`,
                        name: f.name
                      }
                      this.validParam.push(obj)
                    }
                    if (f.type === 'select' || f.type === 'checkbox' || f.type === 'radio' || f.type === 'cascader') {
                      Vue.set(this.formData, `${f.type}_${f.key}`, [])
                    }
                    if (f.type === 'rate') {
                      Vue.set(this.formData, `${f.type}_${f.key}`, f.options.defaultValue)
                    }
                    if (f.type === 'switch') {
                      Vue.set(this.formData, `${f.type}_${f.key}`, f.options.defaultValue)
                    }
                    if (f.type === 'button' || f.type === 'text' || f.type === 'tally' || f.type === 'signup') {
                      delete this.formData[`${f.type}_${f.key}`]
                    }
                    if (f.type === 'button') {
                      this.submitText = f.options.submitMsg
                    }
                    // 处理select的option
                    if (f.type === 'select') {
                      let opts = f.options.options
                      opts.forEach(opt => {
                        opt.name = opt.value
                        opt.parent = 0
                      })
                    }
                    // 处理radio || checkbox的option
                    if (f.type === 'radio' || f.type === 'checkbox') {
                      let opts = f.options.options
                      opts.forEach(opt => {
                        opt.key = opt.value
                      })
                    }
                    // 处理cascader
                    if (f.type === 'cascader') {
                      f.options.options = JSON.parse(f.options.options)
                    }
                  })
                  this.validParam = this.validParam.reverse()
                }
              })
              resolve(res)
            })
            myProm.then(d => {
              this.showList = d.data
              this.$nextTick(() => {
                this.loadingShow = false
                setTimeout(() => {
                  if (this.$refs.videoPlayer) {
                    this.$refs.videoPlayer[0].player.play()
                  }
                }, 1000)
              })
              // 微信分享
              let info = d.projectInfo
              let link = location.href.indexOf('?') === -1 ? location.href.split('#')[0] + '#/' + id : location.href.split('?')[0] + '#/' + id
              let share = {
                imgUrl: info.sharePicture,
                title: info.shareTitle,
                desc: info.shareSummary,
                link: link
              }
              wxshare(share)
              this.title = info.shareTitle ? info.shareTitle : info.name
              // 小程序码
              this.qrCode = info.sunUrl
              // 版权
              this.copyright = info.versionInfo || '兆腾科技'
            })
          }
        }
      )
    },
    // 提交表单
    submitHandle () {
      let phoneReg = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-7|9])|(?:5[0-3|5-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[1|8|9]))\d{8}$/
      let emailReg = /^[a-zA-Z0-9.!#$%&'*+\\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
      let cardReg = /(^\d{8}(0\d|10|11|12)([0-2]\d|30|31)\d{3}$)|(^\d{6}(18|19|20)\d{2}(0\d|10|11|12)([0-2]\d|30|31)\d{3}(\d|X|x)$)/
      let count = 0

      setTimeout(function () {
        let scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0
        window.scrollTo(0, Math.max(scrollHeight - 1, 0))
      }, 100)

      this.validParam.forEach(item => {
        let val = this.formData[item.key]
        if (item.name.indexOf('手机号') !== -1 && !phoneReg.test(val)) {
          this.$vux.toast.show({
            text: '请检查' + item.name + '格式',
            type: 'warn',
            width: '12em'
          })
          count++
        }
        if (item.name.indexOf('邮箱') !== -1 && !emailReg.test(val)) {
          this.$vux.toast.show({
            text: '请检查' + item.name + '格式',
            type: 'warn',
            width: '12em'
          })
          count++
        }
        if (item.name.indexOf('身份证') !== -1 && !cardReg.test(val)) {
          this.$vux.toast.show({
            text: '请检查' + item.name + '格式',
            type: 'warn',
            width: '12em'
          })
          count++
        }
      })

      if (count === 0) {
        for (let item in this.formData) {
          if (item.indexOf('call') > -1) {
            delete this.formData[item]
          }
        }
        this.formParam.formData = this.formData
        this.$ajax(this.$api.submit, this.formParam).then(
          res => {
            if (res.code === 0) {
              // this.submitCount = 1
              this.$vux.toast.show({
                text: this.submitText
              })
            }
          }
        )
      }
    },
    resizeHot (x1, y1, x2, y2) {
      let width = window.screen.width
      let percent = width / 375
      return `${x1 * percent},${y1 * percent},${(x2 + x1) * percent},${(y2 + y1) * percent}`
    },
    // 打开dialog
    openDialog () {
      this.dialogShow = true
    },
    // 关闭dialog
    closeDialog () {
      this.dialogShow = false
    },
    // 跳转到小程序
    gotoMini (hot) {
      if (hot.type === '0') {
        if (this.isMini()) {
          this.$wechat.miniProgram.navigateTo({
            url: `/pages/pageH/pageH?url=${encodeURIComponent(hot.url)}`
          })
        } else {
          window.location.href = hot.url
        }
      } else {
        if (this.isMini()) {
          // 点击跳转小程序页面
          this.$wechat.miniProgram.navigateTo({
            url: hot.url
          })
        } else {
          this.openDialog()
        }
      }
    },
    // 判断环境是否在微信小程序里
    isMini () {
      let ua = window.navigator.userAgent.toLowerCase()
      let envType = '#'
      if (ua.match(/MicroMessenger/i) && ua.match(/MicroMessenger/i)[0] === 'micromessenger') { // 微信环境
        this.$wechat.miniProgram.getEnv(function (res) {
          if (res.miniprogram) { // 小程序环境下逻辑
            envType = true
          } else { // 非小程序环境下逻辑
            envType = false
          }
        })
      } else { // 非微信环境逻辑
        envType = false
      }
      return envType
    },
    // 根据值获取label
    getLabel (data, val) {
      let obj = {}
      obj = data.find(item => {
        return item.value === val
      })
      return obj.label
    },
    // 获取视频信息
    getVideoInfo (url) {
      let param = {
        url: url + '?avinfo',
        method: 'get'
      }
      return new Promise((resolve, reject) => {
        this.$ajax(param).then(
          res => {
            // 视频宽高
            let w = res.streams[0].width || res.streams[1].width
            let h = res.streams[0].height || res.streams[1].height
            // 高宽比
            let rateHW = h / w
            // 屏幕宽度
            let dw = document.querySelector('body').clientWidth
            // 视频显示高度
            let sh = dw * rateHW
            resolve(sh)
          }
        )
      })
    }
  }
}
</script>

<style lang="less" scoped>
  .home {
    width: 100%;
    height: 100%;
    position: relative;
    .img-box, .video-box {
      width: 100%;
      font-size: 0;
      .video {
        width: 100%;
      }
    }
    .form-box {
      width: 100%;
      &.weui-cells {
        /*border-top: 0.5px solid #D9D9D9;*/
        /*border-bottom: 0.5px solid #D9D9D9;*/
        margin-top: 0;
        padding: 0;
        &::before, &::after {
          display: none;
        }
      }
      .form-item {
        .group {
          position: relative;
          /deep/ .weui-cells {
            background: inherit;
            margin: 0;
            padding: 10px 15px 0 15px;
            &::before {
              border: none;
            }
            &::after {
              left: 15px;
            }
            .weui-cell {
              padding: 10px 30px 10px 15px;
              &.weui-cell_switch {
                padding: 0 30px 10px 15px!important;
              }
            }
            .check {
              .weui-cells__title {
                font-size: 17px;
                color: inherit;
              }
              .weui-cell {
                padding: 10px 20px 10px 30px;
              }
              .weui-cell__bd {
                p {
                  color: #999;
                  font-size: 16px;
                }
              }
            }
          }
        }
        &:not(:last-child) .group {
          position: relative;
          /deep/ .weui-cells {
            margin-top: 0;
            background-color: inherit;
            &::before, &::after {
              display: none;
            }
          }
          &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #d9d9d9;
            color: #d9d9d9;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            left: 15px;
          }
        }
        &.button-item, &.text-item {
          .group {
            &::before, &::after {
              display: none;
            }
            /deep/ .weui-cells {
              &::before, &::after {
                display: none;
              }
            }
          }
        }
      }
      .form-text {
        margin-top: 0.77em;
        margin-bottom: 0.6em;
        padding-left: 15px;
        padding-right: 15px;
      }
      .form-call {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
      }
      .tip-text-box {
        .group {
          &::before, &::after {
            display: none;
          }
          /deep/ .weui-cells {
            line-height: 0;
            margin: 0;
            padding: 0;
          }
        }
        .tip-text {
          padding-top: 10px;
          text-align: center;
          padding-left: 15px;
          padding-right: 15px;
          color: #999;
          font-size: 10px;
        }
      }
      .tip-call-box {
        .group {
          &::before, &::after {
            display: none;
          }
          /deep/ .weui-cells {
            line-height: 1;
            margin: 0;
            padding: 10px 15px 0 15px;
            &::before, &::after {
              display: none;
            }
          }
        }
      }
    }
    .copyright {
      padding: 12px 0;
      font-size: 10px;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 2px #000000;
      /*position: absolute;*/
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
