<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  html {
    height: 100%;
  }
  body {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100%;
  }
  map area {
    outline: none;
  }
  p {
    margin: 0;
  }
  .radio-slot {
    margin: 0;
    text-align: center;
    padding: 8px 0;
    color: #888;
  }
  button {
    outline: none;
  }
  .video-js .vjs-big-play-button{
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 56px !important;
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    border-radius: 50% !important;
    border: 0 !important;
    filter: drop-shadow(0 4px 10px rgba(22, 23, 25, .3)) !important;
  }
  .video-js .vjs-play-progress:before {
    z-index: auto !important;
  }
</style>
